@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #232222;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.bg._active {
  opacity: 1;
  visibility: visible;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.slider-arrow-main {
  z-index: 3;
  cursor: pointer;
}

.slider-arrow_next {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-arrow_prev {
  position: absolute;
  left: 0;
  top: 0;
}

.swiper-pagination-bullet {
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.swiper-pagination-bullet::before {
  content: "0";
}

.swiper-pagination-bullet:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.swiper-pagination-bullet-active {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet:nth-child(n+10)::before {
  content: "";
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  position: relative;
  overflow: visible;
  min-height: 90px;
  height: 100%;
  position: relative;
}

.header__bg {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.header__container {
  position: relative;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100%;
  z-index: 15;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__logo {
  margin: 0px 0px 0px 13px;
  z-index: 2;
  position: absolute;
  top: 27px;
  left: 13px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__menu {
  margin-left: auto;
}

.header__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-mob {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 100vh;
  z-index: 10;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 30px 15px;
}

.header__menu-mob._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__menu-mob._active::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__menu-item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.header__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #001e64;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__menu-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  background-color: #001e64;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu-link:hover::before {
  width: 100%;
}

.header__call {
  z-index: 2;
  margin: 0px 43px 0px 174px;
}

._scroll {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

._scroll .header__bg {
  height: 65px;
}

._scroll .header__bg::before {
  height: 65px;
  opacity: 1;
  visibility: visible;
}

._scroll .header__body {
  height: 65px;
}

._scroll .header__logo {
  -webkit-transform: scale(0.4) translate(-50%, -60%);
      -ms-transform: scale(0.4) translate(-50%, -60%);
          transform: scale(0.4) translate(-50%, -60%);
  left: 0;
  top: 0;
  margin: 0;
  z-index: 20;
}

._scroll .header__menu {
  z-index: 20;
}

._scroll .header__call {
  z-index: 20;
}

.icon-menu {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

._no-webp .main-page{
  background-image: url(../img/header/header-bg.png); }

.main-page {
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-size: cover;
}

.main-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 200px 0px 148px 109px;
}

.main-page__title {
  font-family: "RobotoSlab", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  color: #001e64;
  max-width: 590px;
  padding: 0px 0px 187px 0px;
}

.main-page__slider {
  margin: 0px 0px 40px 0px;
  position: relative;
}

.main-page__controls {
  position: absolute;
  width: 20px;
  left: -76px;
  top: -45px;
}

.main-page__controls-dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 0;
}

.main-page__slider-slide {
  max-height: 200px;
  height: 100%;
}

.main-page__slider-text {
  font-size: 18px;
  line-height: 120%;
  max-width: 410px;
  color: #ffffff;
}

.main-page__slider-text p:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.main-page__btn {
  font-family: "RobotoSlab", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  padding: 14px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 49px;
}

.main-page__btn:hover {
  background-color: white;
  color: #001e64;
}

.main-page__lang {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-left: auto;
  margin-right: 30px;
}

.main-page__lang span {
  font-weight: 700;
}

.info-page {
  margin-top: 50px;
}

.info-page__container {
  padding: 0 15px;
}

.info-page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0px 15px 0px 0px;
}

.info-page__slider-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.info-page__slider-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}

.title-slider {
  position: relative;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-slider__arrows {
  text-align: center;
}

.title-slider__arrow {
  z-index: 50;
}

.title-slider__arrow_next {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-slider__arrow_prev {
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-slider__body {
  max-height: 355px;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-slider__slide {
  text-align: center;
  cursor: pointer;
}

.title-slider__slide.swiper-slide-active .title-slider__name {
  font-weight: 700;
  font-size: 36px;
  color: #001e64;
}

.title-slider__name {
  font-family: "RobotoSlab", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #232222;
  display: inline-block;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.info-slider {
  min-height: 0;
  max-width: 600px;
}

.info-slider__body {
  min-height: 0;
}

.info-slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.info-slider__image img {
  max-width: 260px;
  width: 100%;
}

.info-slider__descr {
  margin-left: 48px;
}

.info-slider__subtitle {
  font-family: "RobotoSlab", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
  display: block;
}

.info-slider__subtitle:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.info-slider__subtitle p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
  padding: 10px 0px 0px 0px;
}

.info-slider__subtitle-info {
  padding-top: 0 !important;
}

.info-slider__product {
  font-family: "RobotoSlab", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  padding: 0px 0px 20px 0px;
}

.info-slider__text {
  font-size: 16px;
  line-height: 120%;
  color: #232222;
  padding: 0px 0px 27px 0px;
}

.info-slider__btn {
  font-family: "RobotoSlab", sans-serif;
  font-weight: 700;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #001e64;
  text-transform: uppercase;
  padding: 12px 85px;
  border: 1px solid #001e64;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.info-slider__btn:hover {
  background-color: #001e64;
  color: #fff;
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header__menu-mob {
    display: none;
  }
}

@media (max-width: 1670px) {
  .header {
    min-height: 80px;
  }

  .info-page {
    margin-top: 50px;
  }
}

@media (max-width: 1670px) and (max-width: 1230px) {
  .info-page {
    margin-top: calc(25px + 25 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 1642px) {
  .swiper-pagination-bullet {
    font-size: 23px;
    line-height: 116.6666666667%;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: 20px;
  }

  .header__body {
    height: 80px;
  }

  .header__logo {
    left: 13px;
    top: 27px;
    margin-right: 10px;
  }

  .header__logo img {
    width: 100px;
  }

  .header__menu-item:not(:last-child) {
    margin-right: 25px;
  }

  .header__call {
    margin-left: 130px;
    margin-right: 35px;
  }

  .main-page__body {
    padding-top: calc(20px + 140 * ((100vw - 320px) / 1600));
    padding-bottom: calc(20px + 110 * ((100vw - 320px) / 1600));
    padding-left: calc(20px + 70 * ((100vw - 320px) / 1600));
  }

  .main-page__title {
    padding-bottom: calc(25px + 105 * ((100vw - 320px) / 1600));
    font-size: 70px;
    line-height: 135.7142857143%;
    width: 100%;
  }

  .main-page__controls-dotts {
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1600));
    padding-bottom: calc(15px + 25 * ((100vw - 320px) / 1600));
  }

  .main-page__btn {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 1600));
    padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
    padding-right: calc(20px + 40 * ((100vw - 320px) / 1600));
    padding-left: calc(20px + 40 * ((100vw - 320px) / 1600));
    font-size: 23px;
    margin-bottom: 45px;
  }

  .info-slider__btn {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 1600));
    padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
    padding-right: calc(20px + 40 * ((100vw - 320px) / 1600));
    padding-left: calc(20px + 40 * ((100vw - 320px) / 1600));
    font-size: 23px;
  }
}

@media (max-width: 1642px) and (max-width: 1230px) {
  .swiper-pagination-bullet {
    font-size: calc(18px + 5 * ((100vw - 320px) / 910));
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-bottom: calc(5px + 15 * ((100vw - 320px) / 910));
  }

  .header__body {
    height: calc(30px + 50 * ((100vw - 320px) / 910));
  }

  .header__logo {
    left: calc(0px + 13 * ((100vw - 320px) / 910));
  }

  .header__logo {
    top: calc(0px + 27 * ((100vw - 320px) / 910));
  }

  .header__logo {
    margin-right: calc(0px + 10 * ((100vw - 320px) / 910));
  }

  .header__logo img {
    width: calc(30px + 70 * ((100vw - 320px) / 910));
  }

  .header__menu-item:not(:last-child) {
    margin-right: calc(10px + 15 * ((100vw - 320px) / 910));
  }

  .header__call {
    margin-left: calc(0px + 130 * ((100vw - 320px) / 910));
  }

  .header__call {
    margin-right: calc(0px + 35 * ((100vw - 320px) / 910));
  }

  .main-page__title {
    font-size: calc(30px + 40 * ((100vw - 320px) / 910));
  }

  .main-page__btn {
    font-size: calc(18px + 5 * ((100vw - 320px) / 910));
  }

  .main-page__btn {
    margin-bottom: calc(15px + 30 * ((100vw - 320px) / 910));
  }

  .info-slider__btn {
    font-size: calc(18px + 5 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 1366px) {
  .main-page__controls {
    left: 450px;
    top: -20px;
  }
}

@media (max-width: 992px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header {
    min-height: 65px;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    text-align: center;
    margin: 0;
    top: 15px;
    left: 50%;
    -webkit-transform: scale(1) translate(-50%, 0%);
        -ms-transform: scale(1) translate(-50%, 0%);
            transform: scale(1) translate(-50%, 0%);
  }

  .header__logo img {
    width: 50%;
  }

  .header__menu-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__menu-item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }

  .header__call {
    margin: 0;
  }

  ._scroll .header__bg {
    height: 50px;
  }

  ._scroll .header__bg::before {
    height: 50px;
  }

  ._scroll .header__body {
    height: 50px;
  }

  ._scroll .header__logo {
    top: 0px;
    left: 50%;
    -webkit-transform: scale(0.5) translate(-50%, -25%);
        -ms-transform: scale(0.5) translate(-50%, -25%);
            transform: scale(0.5) translate(-50%, -25%);
  }

  .icon-menu {
    margin-right: 25px;
    margin-left: 25px;
    position: relative;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 11;
    -webkit-transition: all 0.3s ease 0s !important;
    -o-transition: all 0.3s ease 0s !important;
    transition: all 0.3s ease 0s !important;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s !important;
    -o-transition: all 0.3s ease 0s !important;
    transition: all 0.3s ease 0s !important;
    top: calc(50% - 1px);
    right: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #001e64;
    border-radius: 20px;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:nth-child(2) {
    width: 80%;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
    width: 60%;
  }

  .icon-menu._active {
    -webkit-transition: all 0.3s ease 0s !important;
    -o-transition: all 0.3s ease 0s !important;
    transition: all 0.3s ease 0s !important;
  }

  .icon-menu._active span {
    background-color: #000f31;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    width: 100%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .main-page__body {
    padding-bottom: calc(80px + 20 * ((100vw - 320px) / 1600));
  }

  .main-page__lang {
    font-size: 18px;
  }

  .info-page {
    margin-top: 0;
  }

  .info-page__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .info-page__slider-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .info-page__slider-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .title-slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    padding: 0px 0px 25px 0px;
  }

  .title-slider__arrows {
    display: none;
  }

  .title-slider__body {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
    margin-top: calc(0px + 20 * ((100vw - 320px) / 1600));
  }

  .title-slider__slide.swiper-slide-active .title-slider__name {
    font-size: 32px;
  }

  .title-slider__name {
    font-size: 22px;
    padding: 0px 0px 10px 0px;
  }

  .info-slider__image img {
    width: 200px;
  }

  .info-slider__descr {
    margin-left: 48px;
  }

  .info-slider__btn {
    margin: 0 auto;
  }
}

@media (max-width: 992px) and (max-width: 1230px) {
  .header__body {
    height: calc(90px + -40 * ((100vw - 320px) / 910));
  }

  .icon-menu {
    margin-right: calc(15px + 10 * ((100vw - 320px) / 910));
  }

  .icon-menu {
    margin-left: calc(15px + 10 * ((100vw - 320px) / 910));
  }

  .main-page__lang {
    font-size: calc(14px + 4 * ((100vw - 320px) / 910));
  }

  .title-slider__slide.swiper-slide-active .title-slider__name {
    font-size: calc(25px + 7 * ((100vw - 320px) / 910));
  }

  .title-slider__name {
    font-size: calc(16px + 6 * ((100vw - 320px) / 910));
  }

  .info-slider__image img {
    width: calc(100px + 100 * ((100vw - 320px) / 910));
  }

  .info-slider__descr {
    margin-left: calc(5px + 43 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 768px) {
  .header__logo {
    left: 5px;
    top: 5px;
    -webkit-transform: scale(1) translate(0%, 0%);
        -ms-transform: scale(1) translate(0%, 0%);
            transform: scale(1) translate(0%, 0%);
    text-align: left;
  }

  ._scroll .header__logo {
    left: 5px;
    top: 5px;
    text-align: left;
  }

  .main-page__body {
    padding-right: calc(20px + 70 * ((100vw - 320px) / 1600));
  }

  .main-page__controls {
    display: none;
  }

  .main-page__slider-slide {
    max-height: 270px;
  }

  .info-page__inner {
    padding: 0;
  }

  .info-slider {
    max-width: 400px;
    width: 100%;
  }

  .info-slider__slide {
    width: 400px;
  }

  .info-slider__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-slider__image {
    margin: 0px auto 15px auto;
  }

  .info-slider__image img {
    width: 100%;
  }

  .info-slider__descr {
    margin: 0px 0px 15px 0px;
  }

  .info-slider__subtitle:not(:last-child) {
    margin: 0px 0px 15px 0px;
  }
}

._webp .main-page{ background-image: url(../img/header/header-bg.webp); }